.pattern {
    background-image: url(../img/pattern.png);
    background-size:40%;
    background-color: rgb(10, 226, 241);
    height: 100px;
}

.logo{
    background-image: url(../img/logo.svg);
    width: 200px;
    position:relative;
    top: 40px   
   
}

.blu-text {
    color: rgb(9, 156, 156);
}

.title {
    margin-bottom: 0.5%;
}
.author {
    color: gray;
    line-height: 0.5;
    font-size: 20px;
    margin-top: 0%;
}

.date{
    font-size: 8px;
}

.figure{
   margin-left: 0%;
}
.fig-caption{
    font-size: 8px;
}

.list{
    font-size: 15px;
   text-align: left;
}
.thead{
    background-color: rgb(7, 170, 199);
    color: aliceblue;
    font-weight:700;
    text-align: left;
}
.tbody1{
    background-color: aqua;

   
}

.cell-size {
    width: 400px;
}

.footer{
    font-size: 15px;
    color: gray;
    font-weight: 900;
    margin-bottom: 0.2%;
}
.fbackground{
    height: 150px;
    width: 200px;
    background-image: url(../img/graph.jpg);
    background-size: contain;
    color: aliceblue;
    font-size: 20px;
    font-weight: 900;
    padding-left: 0.5%;
    margin-bottom: 1%;
    margin-top: 0.2%;
  }
  .fbackground2{
    height: 150px;
    width: 200px;
    background-image: url(../img/monitor.jpg);
    background-size: contain;
    color: aliceblue;
    font-size: 20px;
    font-weight: 900;
    padding-left: 0.5%;
    margin-top: 0%;
  }